<ng-container>
  <div class="page-container">
    <div class="page-header-container">
      <div>
      </div>
      <div class="page-header-colum2">
        <h1>Kaufbestätigung</h1>
      </div>
    </div>
    <div class="info">
      <h2>Vielen Dank für deine Bestellung!</h2>
      <h2>Sie erhalten in Kürze eine E-mail mit den Angaben zu den Verkäufern. Die Bezahlung und Kartenübergabe muss durch Käufer unf Verkäufer verhandelt werden</h2>
    </div>
    <button mat-raised-button
            color="primary"
            (click)="navigateBack()">
      Zur Startseite
    </button>
  </div>
</ng-container>
