
.tab {
  &-create-offer {
    margin-top: 20px;
    text-align: center;
  }

}

.main {
  &-create-offer {
  }
}


.create-offer {
  &-container {
    border: solid 2px;
    border-radius: 10px;
    border-color: blue;
    border-collapse: collapse;
    width: 80%;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }

  &-img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-img:hover {
    max-width: 100%;
  }

  &-price {
    // width: 50%;
  }

  &-amount {
   //  width: 50%;
  }

  &-form {
    //  width: 100%;
   }

}

.create-offer-field {
  &-container {
  }
}




.margin {
  // margin: 10px;
}

.isFullSize {
  width: 100%;
}

.isHalfSize {
  width: 50%;
}

.isSmallSize {
  width: 40%;
}
