<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Angebot Erstellen">
      <div class="tab-create-offer">

        <div>
          <app-search-card (onChangeSearchResults)="resultsChanged($event)"
                            class="create-offer-search margin"></app-search-card>
        </div>

        <div class="create-offer-container"
        *ngIf="cardDetailsList.length > 0">

          <div *ngFor="let cardDetail of cardDetailsList"
                class="create-offer-result-container">

            <img src="{{cardDetail.cardImageUri}}"
                data-id="{{cardDetail.id}}"
                data-name="{{cardDetail.name}}"
                class="create-offer-result-img"
                (click)="resizeImg()"
                (loaded)="onLoaded()"
                [ngClass]="imgIsResized ? 'isFullSize' : 'isSmallSize'">

          </div>

          <div class="create-offer-values-container"
               *ngIf="imgIsloaded">
            <form [formGroup]="offerForm"
                  (ngSubmit)="onSubmit()"
                  class="offer-form">
              <mat-form-field appearance="outline">
                <mat-label for="offerPrice">Preis: </mat-label>
                <input  matInput
                        id="offerPrice"
                        name="offerPrice"
                        formControlName="offerPrice">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label for="deliveryMode">Lieferart: </mat-label>
                <mat-select id="deliveryMode"
                            name="deliveryMode"
                            formControlName="deliveryMode">
                  <mat-option *ngFor="let mode of deliveryModes"
                              [value]="mode.name">
                              {{mode.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            </form>
          </div>



        </div>
      </div>



    </mat-tab>
    <mat-tab label="Meine Angebote"></mat-tab>
  </mat-tab-group>









</div>
