@import "../../../variables";

.item {
  &-container {
    max-width: 100%;
    @media (min-width: $global-breakpoint-desktop) {
      display: flex;
    }
  }

  &-img {
    max-width: 100%;
    margin-top: 20px;
  }

  &-detail {
    display: inline-block;
    padding-top: 20px;
    @media (min-width: $global-breakpoint-desktop) {
      padding: 50px;
    }
  }

  &-button-delete {
    margin-top: 20px;
  }
}

.isHalfSize {
  width: 50%;
}

.isFullSize {
  width: 100%;
}
