<div>
  <h2 mat-dialog-title>Filter setzen</h2>
  <h5 mat-dialog-title>Anzahl Treffer: {{dialogData?.results?.length}}</h5>
  <mat-dialog-content class="dialog-container pad-bottom">

    <mat-form-field appearance="outline"
                    class="form-field">
      <mat-label>Kartenname: </mat-label>
      <mat-select id="cardName"
                  name="cardName"
                  [formControl]="inputCardName">
        <mat-option>
          <ngx-mat-select-search
              placeholderLabel="search"
              noEntriesFoundLabel="No entry matches">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let cardName of dialogData.filter.cardNamesInOffers "
                    data-id="cardName.index"
                    data-name="cardName.name"
                    [value]="cardName">
                    {{cardName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="accordion-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Editionen:
            </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-form-field appearance="outline"
                            class="form-field">
              <mat-label for="cardEditionSearch">Editionssuche: </mat-label>
              <input  matInput
                      id="cardEditionSearch"
                      name="cardEditionSearch"
                      type="text"
                      [formControl]="inputCardEditionSearch"
                      value="">
            </mat-form-field>
          <ng-template matExpansionPanelContent>
            <div *ngFor="let cardEdition of dialogData.filter.cardEditions">
              <section>
                  <mat-checkbox (change)="setFilterEdition($event, cardEdition)"
                                [checked]="cardEdition.state">{{cardEdition.description}}
                  </mat-checkbox>
                </section>
              </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="accordion-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kartentypen:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div *ngFor="let cardTyp of dialogData.filter.cardTypes">
              <section>
                <mat-checkbox (change)="setFilterCardType($event, cardTyp)"
                              [checked]="cardTyp.state">{{cardTyp.description}}</mat-checkbox>
              </section>
            </div>
        </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="accordion-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Farben:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div *ngFor="let cardColor of dialogData.filter.cardColors">
              <section>
                <mat-checkbox (change)="setFilterCardColor($event, cardColor)"
                              [checked]="cardColor.state">{{cardColor.description}}</mat-checkbox>
              </section>
            </div>
        </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>

  <button mat-button
          [mat-dialog-close]="dialogData"
          [disabled]="useFilterButtonIsDisabled">
    Filter Anwenden
  </button>
  <button mat-button
          [mat-dialog-close]="dialogData">
    Abbrechen
  </button>
</div>

