<ng-container>
  <div class="page-container">
    <div class="page-header-container">
      <div>
        <button mat-raised-button
              color="primary"
              (click)="navigateBack()">
          Zurück
        </button>
      </div>
      <div class="page-header-colum2">
        <h1>Warenkorb</h1>
      </div>
    </div>
    <div class="buyer-container" *ngFor="let basketList of basketObj$ | async | keyvalue; let i=index">
      <h1 class="buyer-name">{{ basketList.value[0].providerDetail?.lastName + ' ' + basketList.value[0].providerDetail?.firstName }}</h1>
      <h4 class="buyer-address">{{ basketList.value[0].providerDetail?.zip + ' ' + basketList.value[0].providerDetail?.city }}</h4>
      <div *ngFor="let item of basketList.value"
           class="item-container">

        <div class="item-colum1">
          <span class="item-cardName"
                data-id="{{item._id}}">
            {{item.offerDetail?.cardDetails?.cardName}}
          </span>
        </div>

        <div class="item-colum2">
          <span class="item-quantity"
                data-id="{{item._id}}">
            {{item.offerDetail?.quantity + ' x ' + (item.offerDetail?.cardPrice ?? 0).toFixed(2) + ' CHF' }}
          </span>
        </div>

        <div class="item-colum3">
          <span class="item-price"
                data-id="{{item._id}}">
            {{((item.offerDetail?.cardPrice ?? 1) * item.quantity).toFixed(2)}} CHF
          </span>
        </div>
      </div>
      <div *ngIf="i == keyCount">
        <div class="total-linebreak"></div>
        <div class="total-container">
          <div class="total-colum1">
            <h3>Total:</h3>
          </div>
          <div class="total-colum2">
            <h3 class="total-price">{{ priceTotal.toFixed(2)}} CHF</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="order">
      <button mat-raised-button
              color="primary"
              (click)="checkBasket()">
        Kaufprozess abschliessen
        </button>
    </div>
  </div>
</ng-container>
