<div class="form-container">

  <form [formGroup]="form" (submit)="onFormSubmit()">

    <mat-form-field class="" appearance="outline">
      <mat-label for="cardEditions">Editionen: </mat-label>
      <mat-select id="cardEditions" name="cardEditions" value="">
        <mat-option *ngFor="let edition of editionNameList" [value]="edition.id">
          {{edition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select (infiniteScroll)="getNextBatch()" [complete]="cardNameListOffset === cardNameList.length" msInfiniteScroll>
          <mat-option *ngFor="let cardName of cardNameListScroll$ | async" [value]="cardName.id">{{cardName.name}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--
    <mat-form-field class="" appearance="outline">
      <mat-label for="cardNames">Kartenname: </mat-label>
      <mat-select id="cardNames" name="cardNames" value="">
        <cdk-virtual-scroll-viewport itemSize="20" minBufferPx="200" maxBufferPx="400" class="">
          <mat-option *cdkVirtualFor="let cardName of cardNameList" [value]="cardName.id">{{cardName.name}}</mat-option>
        </cdk-virtual-scroll-viewport>
      </mat-select>
    </mat-form-field>
-->



        <!--

[(value)]="selectedCountry"
        -->

  </form>
</div>


<!--
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">

  <label for="cardEditions">Editionen: </label>
  <div *ngIf="cardNameListIsLoaded === false">
    <select formControlName="cardEditions" id="cardEditions" Value="Is loading" [virtualScroll]="true" itemSize="30"></select>
  </div>
  <div *ngIf="cardNameListIsLoaded === true">
    <select formControlName="cardEditions" id="cardEditions">
      <option *ngFor="let edition of editionNameList" [ngValue]="edition.id">{{edition.name}}</option>
    </select>
  </div>

  <label for="cardNames">Kartenname: </label>
  <div *ngIf="cardNameListIsLoaded === false">
    <select formControlName="cardNames" id="cardNames" Value="Is loading"></select>
  </div>
  <div *ngIf="cardNameListIsLoaded === true">
    <select formControlName="cardNames" id="cardNames">
      <option *ngFor="let cardName of cardNameList" [ngValue]="cardName.id">{{cardName.name}}</option>
    </select>
  </div>

</form>


    <mat-form-field class="" appearance="outline">
      <mat-label for="cardEditions">Editionen: </mat-label>
      <mat-select id="cardEditions" name="cardEditions" value="">
        <mat-option *ngFor="let edition of editionNameList" [value]="edition.id">
          {{edition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="" appearance="outline">
      <mat-label for="cardNames">Kartenname: </mat-label>
      <mat-select id="cardNames" name="cardNames" value="">
        <mat-option *ngFor="let cardName of cardNameList" [value]="cardName.id">
          {{cardName.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


-->


<!--
<cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" >
  <div *cdkVirtualFor="let n of numbers" style="height:130px;">{{n}}</div>
</cdk-virtual-scroll-viewport>
-->
