
.page-container {
  text-align: center;
}

.form {
  display: inline-block;
  width: 70%;
  margin-top: 30px;

  &-field {
    width: 100%;
  }

  &-requirements {
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }

  &-button-submit {
    width: 100%;
  }
}
