<ng-container>
  <div>
    <form [formGroup]="form"
          (ngSubmit)="onSubmitForm()">

      <mat-form-field appearance="outline">
        <mat-label for="email">E-Mail: </mat-label>
        <input  matInput
            id="email"
            name="email"
            type="email"
            formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="password">Passwort: </mat-label>
        <input  matInput
            id="password"
            name="password"
            type="password"
            formControlName="password">
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="primary">Acount Erstellen
      </button>
    </form>
  </div>
</ng-container>
