<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Angebot Erstellen">
      <div class="tab-create-offer">

        <aside>
          <app-search-card (onChangeSearchResults)="resultsChanged($event)"></app-search-card>
        </aside>
        <main>
          <div class="create-offer-container"
               *ngIf="cardDetailsList.length > 0">
            <div *ngFor="let cardDetail of cardDetailsList"
                  class="create-offer-img-container">
              <img src="{{cardDetail.cardImageUri}}"
                  data-id="{{cardDetail.id}}"
                  data-name="{{cardDetail.name}}"
                  class="create-offer-img"
                  (click)="resizeImg()"
                  (loaded)="onLoaded(cardDetail.name)"
                  [ngClass]="imgIsResized ? 'isFullSize' : 'isSmallSize'">

              <div class="create-offer-field-container"
                  *ngIf="currentCardName">

                <form [formGroup]="form"
                      (ngSubmit)="onSubmit()"
                      class="create-offer-form">

                  <mat-form-field appearance="outline"
                                  class="pad-mar-1 create-offer-price isHalfSize">
                    <mat-label for="offerPrice">Preis in CHF: </mat-label>
                    <input  matInput
                            id="offerPrice"
                            name="offerPrice"
                            type="number"
                            formControlName="offerPrice">
                  </mat-form-field>

                  <mat-form-field appearance="outline"
                                  class="pad-mar-1 create-offer-amount isHalfSize">
                    <mat-label for="cardAmount">Anzahl: </mat-label>
                    <input  matInput
                            id="cardAmount"
                            name="cardAmount"
                            type="number"
                            min="1"
                            formControlName="cardAmount">
                  </mat-form-field>

                  <mat-form-field appearance="outline"
                                  class="pad-mar-1 isFullSize">
                    <mat-label for="deliveryMode">Lieferart: </mat-label>
                    <mat-select id="deliveryMode"
                                name="deliveryMode"
                                formControlName="deliveryMode">
                      <mat-option *ngFor="let mode of deliveryModes"
                                  [value]="mode.name">
                                  {{mode.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline"
                                  class="pad-mar-1 isFullSize">
                    <mat-label for="additionInfo">Zusatz Informationen: </mat-label>
                    <textarea matInput
                              id="additionInfo"
                              name="additionInfo"
                              placeholder="Freier Text"
                              formControlName="additionInfo">
                    </textarea>
                  </mat-form-field>

                  <button mat-raised-button
                          type="submit"
                          color="primary"
                          class="isFullSize">Hinzufügen
                  </button>

                </form>
              </div>
            </div>
          </div>
        </main>
      </div>



    </mat-tab>
    <mat-tab label="Meine Angebote"></mat-tab>
  </mat-tab-group>









</div>
