.page {
  &-container {
    width: 80%;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }

  &-img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-border {
    border: solid 2px;
    border-radius: 10px;
    border-color: blue;
    border-collapse: collapse;
  }

  &-img:hover {
    max-width: 100%;
  }
}

.isFullSize {
  width: 100%;
}

.isHalfSize {
  width: 50%;
}

.isSmallSize {
  width: 40%;
}
