@import "../../../variables";

.page {
  &-container {
    // text-align: center;
  }
}

.filter {
  &-container {
    text-align: center;
    padding-top: 20px;
  }
  &-button {
    width: 100%;
    margin-top: 20px;
  }
}

.offer {
  &-container {
    @media (min-width: $global-breakpoint-desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.item {
  &-container {
    @media (min-width: $global-breakpoint-desktop) {
      width: 40%;
    }
  }
  &-img {
    max-width: 100%;
    margin-top: 20px;
    @media (min-width: $global-breakpoint-desktop) {
      padding-right: 20px;
    }
  }

  &-detail {
    // display: inline-block;
    padding-top: 20px;
    // text-align: center;
  }

  &-button-delete {
    margin-top: 20px;
  }
}
