
<ng-container>
  <div class="page-container"
       (click)="closeSnackBar()">

    <div class="filter-container">
      <button mat-raised-button
              color="primary"
              class="filter-button set"
              (click)="openFilterDialog()">Filter setzen
      </button>

      <button mat-raised-button
              color="primary"
              class="filter-button reset"
              (click)="filterReset()">Filter zurücksetzen
      </button>
    </div>

    <div *ngFor="let offer of offerList$ | async"
         class="offer-container">
      <div class="offer-item"
           data-id="{{offer._id}}">
           <div class="item-container">
              <img src="{{offer.cardDetails?.cardImageUri}}"
                   class="item-img"
                   (click)="getAllOffersForCard(offer.cardName)">
           </div>
      </div>
    </div>

  </div>
</ng-container>
