@import "../../../variables";

.page {
  &-content {
    text-align: left;
    @media (min-width: $global-breakpoint-desktop) {
      text-align: center;
      display: flex;
    }
  }
}

.button-back {
  width: 100%;
  margin-top: 40px;
}

.img {
  max-width: 100%;
  margin-top: 20px;
  &-container {
    flex-shrink: 0;
    @media (min-width: $global-breakpoint-desktop) {
      display: flex;
    }
  }
}

.items {
  &-container {
    @media (min-width: $global-breakpoint-desktop) {
      padding-left: 20px;
    }
  }
}

.item {
  &-header {
    background-color: brown;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  &-detail {
    margin-bottom: 20px;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.add-to-basket {
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 10%;
}

.quantity-change {
  padding-right: 30px;
  display: flex;
  &-span {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
  }
}

.isHalfSize {
  width: 50%;
}

.isFullSize {
  width: 100%;
}


