.page {
  &-container {
    display: inline-block;
    text-align: center;
  }
}

.button-back {
  width: 80%;
  margin-top: 20px;
}

.img {
  max-width: 80%;
  margin-top: 20px;
}

.item {
  &-container {
    max-width: 80%;
    display: inline-block;
    text-align: center;
  }

  &-header {
    background-color: brown;
    color: white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }

  &-detail {
    margin-bottom: 10px;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.add-to-basket {
  color: white;
  background-color: #3f51b5;
  border: none;
  border-radius: 10%;
}

.quantity-change {
  padding-right: 30px;
  display: flex;
  &-span {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
  }
}

.isHalfSize {
  width: 50%;
}

.isFullSize {
  width: 100%;
}


