<ng-container>
  <div class="page-container">

    <button mat-raised-button
            color="primary"
            class="button-back"
            (click)="backToCardNameSearch()">Zurück
    </button>

    <div *ngIf="cardImg !== undefined">
      <img src="{{cardImg.cardDetails?.cardImageUri}}"
            class="img">
    </div>

    <div *ngFor="let offer of offerList$ | async"
         class="item-container"
         data-id="{{offer?._id}}">
      <div>
        <div class="item-header">
          <span>{{offer.providerLastName + ' ' + offer.providerFirstName}}</span>
        </div>
        <div class="item-detail">
          <mat-form-field appearance="outline"
                          class="pad-mar-1 isHalfSize">
            <mat-label for="cardPrice">Kartenpreis CHF: </mat-label>
            <input  matInput
                    readonly="true"
                    id="cardPrice"
                    name="cardPrice"
                    type="number"
                    value="{{offer.cardPrice}}">
          </mat-form-field>
          <mat-form-field appearance="outline"
                          class="pad-mar-1 isHalfSize">
            <mat-label for="quantity">Anzahl: </mat-label>
            <input  matInput
                    readonly="true"
                    id="quantity"
                    name="quantity"
                    type="number"
                    value="{{offer.quantity}}">
          </mat-form-field>
          <mat-form-field appearance="outline"
                          class="pad-mar-1 isFullSize">
            <mat-label for="deliveryMode">Lieferart: </mat-label>
            <input  matInput
                    readonly="true"
                    id="deliveryMode"
                    name="deliveryMode"
                    type="text"
                    value="{{offer.deliveryModeDescription}}">
          </mat-form-field>
          <mat-form-field appearance="outline"
                          class="pad-mar-1 isFullSize">
            <mat-label for="paymentMode">Bezahlung: </mat-label>
            <input  matInput
                    readonly="true"
                    id="paymentMode"
                    name="paymentMode"
                    type="text"
                    value="{{offer.paymentModeDescription}}">
          </mat-form-field>
          <mat-form-field appearance="outline"
                          class="pad-mar-1 isFullSize">
            <mat-label for="additionInfo">Zusatz Informationen: </mat-label>
            <textarea matInput
                      readonly="true"
                      id="additionInfo"
                      name="additionInfo"
                      placeholder="Freier Text"
                      value="{{offer.additionInfo}}">
            </textarea>
          </mat-form-field>
        </div>
        <div class="item-actions">
          <div class="quantity-change">
              <button mat-icon-button
                      class="quantity-change-button"
                      (click)="quantityRemove(offer)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <span class="quantity-change-span"
                    data-id="{{offer?._id}}">0</span>
              <button mat-icon-button
                      class="quantity-change-button"
                      (click)="quantityAdd(offer)">
                <mat-icon>control_point</mat-icon>
              </button>
          </div>
          <div>
            <button mat-icon-button
                    class="add-to-basket"
                    (click)="addToBasket(offer)">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
