
<ng-container>
  <div class="page-container">
    <div class="page-titel">
      <span class="titel-row1">
        Willkommen bei der
      </span>
      <span class="titel-row2">
        MAGIC Tauschbörse
      </span>
    </div>
    <div class="page-banner">
      <picture class="img-container">
        <source media="(max-width:300px)"
                srcset="assets/img/home-300px.png">
        <source media="(max-width:420px)"
                srcset="assets/img/home-420px.png">
        <source media="(max-width:570px)"
                srcset="assets/img/home-570px.png">
        <source media="(max-width:720px)"
                srcset="assets/img/home-720px.png">
        <img src="assets/img/home-720px.png"
             alt="Hintergrundbild"
             class="banner-img">
      </picture>
    </div>
    <div class="page-content">
      <span class="content-row1">
        <p>Hier findest du ein breites Angebot an Magic Karten aus allen Editionen zum Kauf.</p>
      </span>
      <span class="content-row2">
        <p>Du kannst auch deine eigenen Karten zum Verkauf anbieten</p>
      </span>
      <span class="content-row3">
        <p>Also nichts wie los zum <a class="content-row3-link" href="./sale-card-search">Angebot</a>.</p>
      </span>
    </div>
  </div>
</ng-container>
