<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            (click)="drawer.toggle();"><mat-icon routerLinkActive="active-icon">menu</mat-icon>
    </button>
    <button mat-button
            [mat-menu-trigger-for]="menu"
            (click)="closeMenue()"><mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu x-position="before"
              #menu="matMenu">
        <button mat-menu-item
                routerLink="/account-settings"
                *ngIf="isLoggedIn === true"><mat-icon>account_circle</mat-icon>
          Account Einstellungen
        </button>
        <button mat-menu-item
                routerLink="/login"
                *ngIf="isLoggedIn === false"><mat-icon>person</mat-icon>
          Login
        </button>
        <button mat-menu-item
                (click)="logout()"
                *ngIf="isLoggedIn === true"><mat-icon>person</mat-icon>
          Logout
        </button>
    </mat-menu>
    <span class="toolbar-spacer "></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav
  #drawer
  class="sidenav"
  [attr.role]="isMobile ? 'dialog' : 'navigation'"
  [mode]="isMobile ? 'over' : 'side'"
  [opened]="isMenuOpen">
    <mat-nav-list (click)="closeMenue()">
      <a [routerLink]="['/home']"
         mat-list-item href="#"
         routerLinkActive="active">
        <mat-icon routerLinkActive="active-icon">home</mat-icon>
        <span class="ml-2" >Home</span>
      </a>
      <a [routerLink]="['/offer']"
          mat-list-item href="#">
          <mat-icon>create</mat-icon>
          <span class="ml-2">Angebot erstellen</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }" >
    <div class="main">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
