@import "../../../../variables";

.main {
  overflow-y: hidden;
  overflow-x: hidden;
  width: $global-screen-width-mobile;
  margin: auto;
  @media (min-width: $global-breakpoint-desktop) {
    width: $global-screen-width-desktop;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav {
  width: 250px;
  &-container {
    height: 100%;
  }
  &-content {
    width: 100%;
  }
  &.mat-toolbar {
    background: #fff;
    color: #fff;
  }
}

.toolbar {
  &-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
