.page-container {
  text-align: center;
}

.form {
  text-align: left;
  display: inline-block;
  width: 70%;
  margin-top: 30px;

  &-field {
    width: 100%;
  }

  &-button {
    width: 100%;
  }
}

.form-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
}

.spinner {
  display: inline-block;
}
