<ng-container>
  <div class="page-container">
    <div class="page-header-container">
      <div>
        <button mat-raised-button
              color="primary"
              (click)="navigateBack()">
          Zurück
        </button>
      </div>
      <div class="page-header-colum2">
        <h1>Warenkorb</h1>
      </div>
    </div>
    <div class="buyer-container" *ngFor="let basketList of basketObj$ | async | keyvalue; let i=index">
      <h1 class="buyer-name">{{ basketList.value[0].providerDetail?.lastName + ' ' + basketList.value[0].providerDetail?.firstName }}</h1>
      <h4 class="buyer-address">{{ basketList.value[0].providerDetail?.zip + ' ' + basketList.value[0].providerDetail?.city }}</h4>
      <div *ngFor="let item of basketList.value"
          class="item-container">
        <div class="item-header">
          <div class="item-header-focus"
              data-id="{{item._id}}">
            <img src="{{item.offerDetail?.cardDetails?.cardImageUri}}"
                  class="item-img"
                  (click)="hiddeImgFocus(item)">
          </div>
          <div class="item-header-detail"
                data-id="{{item._id}}">
            <div class="item-header-detail-colum1"
                 (click)="showImgFocus(item)">
              <img src="{{item.offerDetail?.cardDetails?.cardImageUri}}"
                  class="item-img">
            </div>
            <div class="item-header-detail-colum2">
              <span>{{item.offerDetail?.cardName}}</span>
            </div>
            <div class="item-header-detail-colum3">
              <button mat-icon-button
                      (click)="removeItem(item)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="item-details"
             data-id="{{item._id}}">
          <div class="item-details-colum1"></div>
          <div class="item-details-colum2">
            <div class="item-quantity">
              <button mat-icon-button
                      (click)="quantityRemove(item)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <span class="item-quantity-value"
                    data-id="{{item._id}}">
                {{item.quantity}}
              </span>
              <button mat-icon-button
                      (click)="quantityAdd(item)">
                <mat-icon>control_point</mat-icon>
              </button>
            </div>
          </div>
          <div class="item-details-colum3">
            <span class="item-details-price"
                  data-id="{{item._id}}"
                  (change)="calcPriceTotal()">
              {{((item.offerDetail?.cardPrice ?? 1) * item.quantity).toFixed(2)}} CHF
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="i === keyCount">
        <div class="total-linebreak"></div>
        <div class="total-container">
          <div class="total-colum1">
            <h3>Total:</h3>
          </div>
          <div class="total-colum2">
            <h3 class="total-price">{{ priceTotal.toFixed(2)}} CHF</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="order"
         *ngIf="priceTotal > 0">
      <button mat-raised-button
              color="primary"
              (click)="getBasketSummary()">
        Bestellung ausführen
      </button>
    </div>
  </div>
</ng-container>
