<ng-container>
  <div class="page-container"
       (click)="closeSnackBar()">
    <form [formGroup]="form"
            (ngSubmit)="onSubmitForm()"
            class="form">
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="firstName">Vorname: </mat-label>
        <input  matInput
                id="firstName"
                name="firstName"
                type="text"
                formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="lastName">Nachname: </mat-label>
        <input  matInput
                id="lastName"
                name="lastName"
                type="text"
                formControlName="lastName">
        <mat-error *ngIf="form.get('lastName')?.errors">
          <span>Der Nachname darf nicht leer sein</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="address">Strasse: </mat-label>
        <input  matInput
                id="address"
                name="address"
                type="text"
                formControlName="address">
        <mat-error *ngIf="form.get('address')?.errors">
          <span>Die Strasse darf nicht leer sein</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
            class="form-field">
        <mat-label for="zip">Postleitzahl: </mat-label>
        <input  matInput
                id="zip"
                name="zip"
                type="number"
                formControlName="zip"
                [matAutocomplete]="autoZip">
        <mat-autocomplete #autoZip="matAutocomplete">
          <mat-option *ngFor="let option of filteredZipOptions$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('zip')?.errors">
          <span>Keine gültige Postleitzahl</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="city">Ort: </mat-label>
        <input  matInput
                id="city"
                name="city"
                type="text"
                formControlName="city"
                [matAutocomplete]="autoCity">
        <mat-autocomplete #autoCity="matAutocomplete">
          <mat-option *ngFor="let option of filteredCityOptions$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('city')?.errors">
          <span>Der Ort darf nicht leer sein</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="country">Land: </mat-label>
        <mat-select id="country"
                    name="country"
                    formControlName="countryIso">
          <mat-option *ngFor="let country of countries"
                [value]="country.iso">
                {{country.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="phone-container">
        <mat-form-field appearance="outline"
                        class="phone-element-1">
          <mat-label for="phonePrefix">Vorwahl: </mat-label>
          <input  matInput
                  id="phonePrefix"
                  name="phonePrefix"
                  type="phonePrefix"
                  [readonly]="true"
                  formControlName="phonePrefix">
        </mat-form-field>

        <mat-form-field appearance="outline"
                        class="phone-element-2">
          <mat-label for="phone">Tel: </mat-label>
          <input  matInput
                  id="phone"
                  name="phone"
                  type="tel"
                  formControlName="phone">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label for="iban">Kontonummer: </mat-label>
        <input  matInput
                id="iban"
                name="iban"
                type="text"
                formControlName="iban">
        <mat-error *ngIf="form.get('iban')?.errors">
          <span>Die Kontonummer ist nicht gültig</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button
              type="submit"
              color="primary"
              class="form-button-submit">Account aktualisieren
      </button>
    </form>
  </div>

  <div *ngIf="isSpinnerActive === true">
    <mat-spinner class="spinner" ></mat-spinner>
  </div>

</ng-container>
