
<ng-container>
  <div class="page-container"
       (click)="closeSnackBar()">

    <div class="filter-container">
      <button mat-raised-button
              color="primary"
              class="filter-button set"
              (click)="openFilterDialog()">Filter setzen
      </button>

      <button mat-raised-button
              color="primary"
              class="filter-button reset"
              (click)="filterReset()">Filter zurücksetzen
      </button>
    </div>

    <div *ngFor="let offer of offerList$ | async"
         class="offer-container">
      <div class="offer-item"
           data-id="{{offer?._id}}">
           <div class="item-container">
              <img src="{{offer.cardDetails?.cardImageUri}}"
                   class="item-img">
           </div>
      </div>
    </div>


          <!--
          <mat-form-field appearance="outline"
                          class="filter-inputfield">
            <mat-label for="filterCardtyp">Kartentyp:</mat-label>
            <mat-select id="filterCardtyp"
                        name="filterCardtyp">
              <mat-option *ngFor="let filter of filterCardTyps"
                [value]="filter.code">
                {{filter.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngFor="let filter of filterCardTyps">
            <div *ngIf="filter.state === false"
                 class="filter-active-container">
              <span><mat-icon>cancel</mat-icon></span>
              <span>{{filter.description}}</span>

            </div>
          </div>

          offersFiltert
-->



  </div>
</ng-container>
